<form onsubmit="return addMessage(this)">
    <input type="text" id="username" placeholder="Tu Nombre" />
    <input type="text" id="texto" placeholder="Cuéntanos algo..."/>
    <input type="submit" value="Enviar" />
</form>

<div id="messages"></div>