*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    color: white;
}
.allContainer{
    margin: auto;
    text-align: center;
    max-width: 90%;
    min-height: 100vh;
    background-color: pink;
    
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
h1{
    color: rebeccapurple;
    display: flex;
    align-items: center;
    margin: 4% 2%;
    justify-content: center;
}
.logoCoder{
    max-width: 100px;
    border-radius: 15px;
}
.storageMenu{
    width: min-content;
    margin: auto;
    color: pink;
    font-weight: bolder;
}
.formsProfile > div > input{
    color: pink;
    background-color: black;
}
.formsProfile > div > input:focus{
    color: pink;
    background-color: white;
    border: none;
}