<form onsubmit="return addProduct()">
    <input type="text" name="title" id="title" placeholder="Inserte el título">
    <input type="number" name="price" id="price" placeholder="Inserte el precio">
    <input type="text" name="img" id="img" placeholder="Inserte una imagen">
    <input type="submit" value="enviar">
</form>