 <h2> Entradas de productos  </h2>
 <br>
 <form action="/products" method="POST">
    <input type="text" name="nombre" placeholder="Ingrese nombre">
    <input type="number" name="precio" placeholder="Ingrese precio ">
    <button>Enviar</button>
 </form>