<button type="button" class="btn btn-outline-dark"><a href="/productos">Ir a ver productos cargados</a></button>
<h2>Ingresar nuevo producto</h2>
<form action="/productos/" method="post">
    <label for="title">título:</label>
    <input type="text" name="title"id="title">
    <label for="price">Precio:</label>
    <input type="number" name="price"id="price">
    <label for="img">Imagen:</label>
    <input type="text" name="img"id="img">
    <input type="submit" value="enviar">
</form>


