<div class="container text-center my-3">
    <div class="jumbotron" style="background-color:green;color:white;">
        <h1>User ok login!</h1>
        <h2><i>Bienvenido <b>{{datos.nombre}}</b></i></h2>
        <br>
        <h3>Dirección: {{datos.direccion}}</h3>
        <h4>Visitas: {{contador}}</h4>
        <button class="btn btn-danger my-5" onclick="location.href='/logout'">LOGOUT</button>
    </div>
</div>